<!-- <div class="component">
  <div class="secondary-background">
  <form [formGroup]="shoppingListForm">

    <div class="formGroup">
      <label for="name">Shopping list name</label>
      <input type="text" id="name" formControlName="name" class="input" >
    </div>

    <div class="formGroup">
      <label for="diets">Diets</label>
      <select formControlName="diets" multiple class="select"  #dietList>
        <option *ngFor="let dietListItem of Diets" [value]="dietListItem.id">
          {{ dietListItem.name }}
        </option>
      </select>
    </div>

  </form>

  <button class="button" (click)="generateShoppingList()">Generate shopping list</button>

  <p>To buy:</p>
  <div class="grid-unchecked-container" *ngFor="let item of unchecked; let itemId = index">
    <div><button class="delete-button" (click)="deleteItem(item)">X</button></div>
    <div class="item__name">{{item.name}}</div>
    <input class="input input--short" id ="quantity" type="text" [value]="item.quantity" (keydown.enter)="uncheckedUpdate($event, itemId)">
    <div class="grid-item">{{item.portionName}}</div>
    <div><button class="button" (click)="checkItem(item)">O</button></div>
  </div>
  <hr>
  <p>Bought:</p>
  <div class="grid-checked-container" *ngFor="let item of checked">
    <div><button class="delete-button" (click)="deleteItem(item)">X</button></div>
    <div class="item__name">{{item.name}}</div>
    <div class="grid-checked-item">{{item.quantity}}</div>
    <div class="grid-checked-item">{{item.portionName}}</div>
    <div><button class="button" (click)="uncheckItem(item)">O</button></div>
  </div>

  <label>Aditional items</label>
  <input type="text" (keydown.enter)="newItem($event)" class="input" >
</div>
</div>

 -->
