<!-- <div class="component">

  <button class="button" routerLink="/shoppingList/new">Add new</button>
  <hr>

  <div *ngIf="!shoppingLists">
    <span class="sr-only">Loading...</span> 
    <br>
    <div class="spinner-border" role="status"></div>
  </div>

  <table *ngIf="shoppingLists">
    <tr *ngFor="let shoppingList of shoppingLists">
      <td> <app-shopping-list-list-item
        [shoppingList]="shoppingList"
        [index]="shoppingList.id"
        ></app-shopping-list-list-item></td>
      <td><button class="delete" (click)="deleteItem(shoppingList.id)">delete</button></td>

    </tr>
  </table>

</div> -->
